@media screen and (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
    .slider__inner {
        max-width: 1100px;
    }
    .progect-slider {
        max-width: 855px;
    }
    .progect-slider .swiper-slide {
        max-height: 495px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 850px;
    }
    .swiper-button-prev, .swiper-button-next {
        max-width: 52px;
    }
    .progect-slider {
        max-width: 755px;
    }
    .progect-slider .swiper-slide {
        max-height: 435px;
    }
}

@media screen and (max-width: 992px) {
    body {
        scroll-behavior: smooth;
    }
    .container {
        max-width: 615px;
    }
    .top__title {
        font-size: 93px;
    }
    .top__subtitle {
        font-size: 16px;
    }
    .header__btn, .header__lang a {
        font-size: 16px;
    }
    .popup__content {
        padding: 20px 20px 10px;
    }
    .popup__title {
        font-size: 22px;
        margin: 60px 0 10px;
    }
    .popup__text {
        font-size: 16px;
        margin: 0 0 35px;
        max-width: 360px;
    }
    .progect__title {
        font-size: 27px;
        top: 15px;
        left: 30px;
    }
    .progect-slider .swiper-slide {
        max-height: 240px;
    }
    .progect-slider {
        max-width: 415px;
        padding-bottom: 40px;
    }
    .swiper-button-prev, .swiper-button-next {
        max-width: 30px;
        top: 94.4%;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 0;
    }
    .swiper-pagination-fraction {
        font-size: 12px;
    }
    .slider__inner {
        max-width: 500px;
    }
    .slider .container {
        height: fit-content;
    }
    .slider {
        padding: 20px 0;
    }
    .progect__link {
        font-size: 15px;
        transform: translateX(-50%);
    }
    .popup__close {
        width: 30px;
        height: 30px;
    }
    .popup__close span {
        top: 0px;
        font-size: 12px;
    }
    .popup__links a {
        font-size: 14px;
    }
}

@media screen and (max-width: 430px) {
    .top__title {
        font-size: 120px;
    }
    .top__subtitle {
        font-size: 18px;
        text-align: center;
        max-width: 220px;
        line-height: 1.3;
    }
    .header__btn, .header__lang a {
        font-size: 18px;
    }
    .active.sl, .active.en, .header__lang span {
        display: none;
    }
    .container {
        padding: 0 20px;
    }
    .top {
        background-image: url(../img/top-bg-mobile.png);
    }
    .animated__arrow::after {
        width: 20px;
        height: 20px;
    }
    .animated__arrow img {
        width: 30px;
    }
    .animated__arrow {
        height: 35px;
        width: 20px;
    }
    .name {
        font-size: 18px;
        top: 25px;
    }
    .progect__title {
        font-size: 24px;
        top: 0;
        left: 0;
        margin-bottom: 25px;
    }
    .slider__num {
        right: 3%;
        bottom: 5%;
        font-size: 140px;
    }
    .swiper-pagination-fraction {
        font-size: 21px;
    }
    .slider {
        padding: 130px 0;
    }
    .progect-slider {
        padding-bottom: 50px;
    }
    .swiper-pagination-fraction {
        top: 90%;
    }
    .popup {
        background-image: url(../img/top-bg-mobile.png);
    }
    .popup__content {
        position: relative;
    }
    .popup__close {
        margin: 0;
        position: absolute;
        top: 55px;
        right: 25px;
    }
    .popup__title {
        font-size: 22px;
        margin: 0px 0 25px;
    }
    .popup__text {
        font-size: 18px;
        margin: 0 0 95px;
    }
    .popup__content {
        justify-content: center;
    }
}