@media screen and (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
    .slider__inner {
        max-width: 1100px;
    }
    .progect-slider {
        max-width: 855px;
    }
    .progect-slider .swiper-slide {
        max-height: 495px;
    }
    .slider:nth-child(8) .slider__num {
        top: 83%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 850px;
    }
    .swiper-button-prev, .swiper-button-next {
        max-width: 52px;
    }
    .progect-slider {
        max-width: 755px;
    }
    .progect-slider .swiper-slide {
        max-height: 435px;
    }
    .slider__num {
        right: -35px;
        width: 70px;
        height: 70px;
        padding: 15px;
    }
}

@media screen and (max-width: 992px) {
    body {
        scroll-behavior: smooth;
    }
    .container {
        max-width: 615px;
    }
    .top__title {
        font-size: 93px;
    }
    .top__subtitle {
        font-size: 16px;
    }
    .header__btn, .header__lang a {
        font-size: 16px;
    }
    .popup__content {
        padding: 20px 20px 10px;
    }
    .popup__title {
        font-size: 22px;
        margin: 60px 0 10px;
    }
    .popup__text {
        font-size: 16px;
        margin: 0 0 35px;
        max-width: 360px;
    }
    .progect__title {
        font-size: 27px;
        top: 15px;
        left: 30px;
    }
    .progect-slider .swiper-slide {
        max-height: 240px;
    }
    .progect-slider {
        max-width: 415px;
        padding-bottom: 40px;
    }
    .swiper-button-prev, .swiper-button-next {
        max-width: 30px;
        top: 94.4%;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 0;
    }
    .swiper-pagination-fraction {
        font-size: 12px;
    }
    .slider__inner {
        max-width: 500px;
    }
    .slider .container {
        height: fit-content;
    }
    .slider {
        padding: 20px 0;
    }
    .slider__num {
        right: -25px;
        width: 50px;
        height: 50px;
        padding: 10px;
        font-size: 12px;
    }
}