@font-face {
    font-family: 'Cyrene';
    src: url(../fonts/CyreneRegularAdvanced.woff),
        url(../fonts/CyreneRegularAdvanced.woff2);
}
@font-face {
    font-family: 'Chillax Variable';
    src: url(../fonts/Chillax-Variable.ttf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Chillax Variable';
    background-color: #111111;
    color: #fff;
    line-height: 1.2;
}
.container {
    max-width: 1700px;
    padding: 0 10px;
    margin: 0 auto;
}
.wrapper {
    position: relative;
}
.name {
    font-family: 'Cyrene';
    position: sticky;
    top: 35px;
    left: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    opacity: 0.6;
    letter-spacing: 0.12em;
    z-index: 10;
}
.swiper-button-prev {
    transform: scale(-1, 1);
    left: 74%;
}
.swiper-button-prev,
.swiper-button-next {
    max-width: 72px;
    width: 100%;
    top: 97.4%;
    & img {
        width: 100%;
    }
}
.swiper-button-next:after, .swiper-button-prev:after {
    content: none;
}
.swiper-pagination {
    left: 0;
    width: 100%;
}
.animated__arrow {
    position: relative;
    height: 76px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    position: absolute;
    bottom: 5%;
    animation: bounce 1s ease infinite alternate;
    &::after {
        position: absolute;
        content: '';
        width: 40px;
        height: 40px;
        border: 1px dashed #fff;
        border-radius: 50%;
        bottom: 0;
        left: -1px;
    }
    & img {
        transform: rotate(90deg);
        width: 60px;
        opacity: 0.7;
    }
}
@keyframes bounce {
    100% {
      transform:translateY(-2px);
    }
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
    }
    &__lang span {
        display: inline-block;
        margin: 0 10px;
    }
    &__btn,
    &__lang a {
        font-size: 25px;
        color: #fff;
        text-transform: lowercase;
        text-decoration: none;
        transition: all .3s;
        position: relative;
        &.active {
            &::after {
                position: absolute;
                content: '';
                top: 100%;
                left: 0;
                right: 0;
                height: 1px;
                width: 75%;
                margin: 0 auto;
                background-color: #fff;
            }
        }
    }
    & a:hover {
        color: #DDB4F2;
    }
}


.top {
    position: relative;
    height: 100vh;
    background-image: url(../img/top-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    & .container {
        height: 100%;
    }
    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-family: 'Cyrene';
        font-size: 250px;
        font-weight: 400 !important;
        margin: 0;
        line-height: 1;
    }
    &__subtitle {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 80px;
    }
}
.slider {
    height: 100vh;
    padding: 80px 0;
    position: relative;
    & .container {
        height: 100%;
    }
    &__inner {
        height: 100%;
        max-width: 1190px;
        margin: 0 auto;
        position: relative;
    }
    &__num {
        position: absolute;
        right: 1%;
        bottom: 0;
        font-family: 'Chillax Variable';
        font-size: 250px;
        color: rgba($color: #fff, $alpha: .03);
    }
    & .swiper-slide img {
        height: 100%;
        max-height: inherit;
        margin: 0 auto;
        display: block;
    }
}
.progect {
    &__title {
        font-family: 'Chillax Variable';
        font-size: 72px;
        font-weight: 400 !important;
        position: relative;
        top: 40px;
        z-index: 50;
    }
    &-slider {
        max-width: 1005px;
        padding-bottom: 50px;
    }
    &-slider .swiper-slide {
        max-height: 635px;
        position: relative;
    }
    &__link {
        font-family: 'Chillax Variable';
        font-size: 25px;
        text-decoration: none;
        position: absolute;
        left: 50%;
        bottom: 18%;
        transform: translateX(-50%);
        color: #fff;
        & span {
            text-decoration: underline;
        }
    }
}

.popup {
    &.close {
        display: none;
    }
    & .blur {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 51;
        backdrop-filter: blur(5px);
    }
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111111;
    z-index: 50;
    background-image: url(../img/top-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Chillax Variable';
    &__content {
        width: 100%;
        height: 100%;
        padding: 135px 135px 50px;
        position: relative;
        z-index: 60;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 50px;
        margin: 60px 0 25px;
        font-weight: 400 !important;
    }
    &__text {
        font-size: 25px;
        margin: 0 0 95px;
        max-width: 810px;
    }
    &__links a {
        font-size: 18px;
        color: #fff;
        opacity: .5;
    }
    &__links-main {
        display: flex;
        gap: 25px;
        margin-bottom: 15px;
    }
    & .dev {
        text-decoration: none;
    }
    &__close {
        width: 40px;
        height: 40px;
        border: 1px dashed #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto auto 0;
        cursor: pointer;
        & span {
            opacity: .4;
            font-size: 12px;
        }
    }
}
