@font-face {
  font-family: "Cyrene";
  src: url(../fonts/CyreneRegularAdvanced.woff), url(../fonts/CyreneRegularAdvanced.woff2);
}
@font-face {
  font-family: "Chillax Variable";
  src: url(../fonts/Chillax-Variable.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chillax Variable";
  background-color: #111111;
  color: #fff;
  line-height: 1.2;
}

.container {
  max-width: 1700px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.name {
  font-family: "Cyrene";
  position: sticky;
  top: 35px;
  left: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  opacity: 0.2;
}

.swiper-button-prev {
  transform: scale(-1, 1);
  left: 74%;
}

.swiper-button-prev,
.swiper-button-next {
  max-width: 72px;
  width: 100%;
  top: 97.4%;
}
.swiper-button-prev img,
.swiper-button-next img {
  width: 100%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: none;
}

.swiper-pagination {
  left: 85%;
  width: -moz-fit-content;
  width: fit-content;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.header__btn, .header__lang a {
  font-size: 25px;
  color: #fff;
  text-transform: lowercase;
  text-decoration: none;
  transition: all 0.3s;
}
.header a:hover {
  color: #DDB4F2;
}

.top {
  position: relative;
  height: 100vh;
  background-image: url(../img/top-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.top .container {
  height: 100%;
}
.top__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top__title {
  font-family: "Cyrene";
  font-size: 250px;
  font-weight: 400 !important;
  margin: 0;
  line-height: 1;
}
.top__subtitle {
  font-size: 30px;
  line-height: 1;
}

.slider {
  height: 100vh;
  padding: 80px 0;
}
.slider .container {
  height: 100%;
}
.slider__inner {
  height: 100%;
  max-width: 1190px;
  margin: 0 auto;
  position: relative;
  border-right: 2px solid rgba(217, 217, 217, 0.1);
}
.slider__num {
  font-family: "Cyrene";
  position: absolute;
  right: -45px;
  top: 1%;
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  background: #111;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.slider__num span:first-child {
  align-self: flex-start;
  position: relative;
  top: 10px;
}
.slider__num span:last-child {
  align-self: flex-end;
  position: relative;
  top: -10px;
}
.slider:nth-child(3) .slider__num {
  top: 12%;
}
.slider:nth-child(4) .slider__num {
  top: 27%;
}
.slider:nth-child(5) .slider__num {
  top: 40%;
}
.slider:nth-child(6) .slider__num {
  top: 52%;
}
.slider:nth-child(7) .slider__num {
  top: 68%;
}
.slider:nth-child(8) .slider__num {
  top: 88%;
}
.slider .swiper-slide img {
  height: 100%;
  max-height: inherit;
  margin: 0 auto;
  display: block;
}

.progect__title {
  font-family: "Chillax Variable";
  font-size: 72px;
  font-weight: 400 !important;
  position: relative;
  top: 40px;
  z-index: 50;
}
.progect-slider {
  max-width: 1005px;
  padding-bottom: 50px;
}
.progect-slider .swiper-slide {
  max-height: 635px;
  position: relative;
}
.progect__link {
  font-family: "Chillax Variable";
  font-size: 25px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 18%;
  transform: translateX(-60%);
  color: #fff;
}
.progect__link span {
  text-decoration: underline;
}

.popup {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111111;
  z-index: 50;
  background-image: url(../img/top-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Chillax Variable";
}
.popup.close {
  display: none;
}
.popup .blur {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 51;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.popup__content {
  width: 100%;
  height: 100%;
  padding: 135px 135px 50px;
  position: relative;
  z-index: 60;
  display: flex;
  flex-direction: column;
}
.popup__title {
  font-size: 50px;
  margin: 60px 0 25px;
  font-weight: 400 !important;
}
.popup__text {
  font-size: 25px;
  margin: 0 0 95px;
  max-width: 810px;
}
.popup__links a {
  font-size: 18px;
  color: #fff;
  opacity: 0.5;
}
.popup__links-main {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}
.popup .dev {
  text-decoration: none;
}
.popup__close {
  width: 40px;
  height: 40px;
  border: 1px dashed #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 0;
  cursor: pointer;
}
.popup__close span {
  position: relative;
  top: -2px;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */